<!--
 * Content is enclosed in <div id="app-content-wrapper"><div id="app-screen"></div></div>
 * Subhead: is added by add-custom-data.php in the theme's php folder / It expects that the post has a subhead custom field
 * Handler for image loading error: displayDefaultImage() added in functions.js as a template's parameter
-->

<div id="content" class="content list-template">
    
	<% if(posts.length){ %>
        
            <!-- start padding container -->
                <div class="wrap">
                    <!-- start jtinder container -->
                    <div id="tinderslide">
                        <ul>
                            <% _.each( posts.reverse(), function( post ){ %>
                            <li class="pane1">
                                <div class="img">
                                    <% if(  post.thumbnail && post.thumbnail.src && post.thumbnail.src.length ){ %>
                                        <img class="content-thumbnail" src="<%= post.thumbnail.src %>" onerror="displayDefaultImage(this);" />
                                    <% } %>
                                </div>
                                <div><%= post.title %></div>
                                <div class="like"></div>
                                <div class="dislike"></div>
                            </li>
                            <% }); %>
                        </ul>
                    </div>
                    <!-- end jtinder container -->
                </div>
                <!-- end padding container -->

                <!-- jTinder trigger by buttons  -->
                <div class="actions">
                    <a href="#" class="dislike"><i></i></a>
                    <a href="#" class="like"><i></i></a>
                </div>

                <!-- jTinder status text  -->
                <div id="status"></div>

	<% }else{ %>
		<div class='content-message'>No post found</div>
	<% } %>
        
</div>